@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.auth-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.auth-container__form {
  background-color: #82DAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  width: 70%;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
.login-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input-group {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}
.input-group label {
  font-size: 16px;
  color: #1E333B;
  margin-bottom: 4px;
  text-align: initial;
}
.input-group input,
.input-group textarea {
  font-size: 16px;
  color: #1E333B;
  border: 2px solid #1E333B;
  padding: 10px;
  resize: none;
  outline: none;
}
.input-group input[type="date"] {
  padding: 7.5px;
}
.auth-btn {
  font-size: 16px;
  color: #1E333B;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  opacity: 0.5;
  transition: all 0.3s ease;
  border-bottom: 2px solid #fff;
}
.auth-btn:hover {
  opacity: 1;
  border-bottom: 2px solid #1E333B;
}
.auth-container__image {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container__image img {
  width: 70%;
  object-fit: contain;
  height: 100%;
}
.input-group small,
.spicker-group small {
  color: #af1c1c;
  font-size: 14px;
  font-weight: 400;
  text-align: initial;
  margin: 4px 0px;
}
.page-header h1 {
  color: #61A2BA !important;
}
.steps-container {
  margin: 80px 0;
  display: block;
}
.step-title {
  font-size: 20px;
  color: #fff;
  background-color: #61A2BA;
  padding: 18px 20px;
}
.step-description {
  margin-top: 40px;
}
.step-description p {
  margin-bottom: 40px;
  color: #1E333B;
  font-weight: 500;
  opacity: 0.7;
  font-size: 18px;
}
.step-image {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-image img {
  width: 40%;
  object-fit: contain;
}
.my-rooms {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.my-room {
  background-color: #61A2BA;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room-info {
  display: flex;
  align-items: center;
}
.room-name {
  color: #fff;
  margin-right: 40px;
}
.room-date,
.room-status {
  color: #fff;
  margin-right: 40px;
}
.room-date span {
  font-weight: 500;
  margin-left: 10px;
}
.btn.white {
  background-color: #fff !important;
  color: #61A2BA !important;
  border-color: #fff;
}
.btn.red {
  background-color: #bd0a0a !important;
  color: #fff !important;
  border-color: #bd0a0a;
}
.btn.red:hover {
  background-color: #850707 !important;
  border-color: #850707;
}
.btn.white:hover {
  background-color: #61A2BA !important;
  color: #fff !important;
}
.btn-group {
  margin-left: 40px;
}
.btn-group .white:nth-child(2) {
  margin: 0 20px;
}
.my-rooms-is-empty {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-rooms-card {
  padding: 40px;
  width: 50%;
  background-color: #61A2BA;
  color: #fff;
  font-weight: 500;
}
.text-lent {
  border-bottom: 1px solid #fff;
  color: #fff;
  opacity: 0.8;
}
.text-lent::after {
  content: '';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
}
.status-indicator {
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: 6px;
}
.room-status {
  display: flex;
  align-items: center;
}
.status-indicator.red {
  background-color: #c01414;
}
.status-indicator.green {
  background-color: #28c014;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  padding: 8px 12px;
  background-color: #1E333B;
  border: 3px solid #1E333B;
  color: #fff;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  color: #1E333B;
}
.btn.ligth-blue {
  text-align: center;
  background-color: #61A2BA !important;
  border-color: #61A2BA !important;
}
.btn.ligth-blue:hover {
  background-color: #fff !important;
  color: #61A2BA !important;
}
nav {
  width: 100%;
  background-color: #61A2BA;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.navbar {
  display: flex;
  align-items: center;
}
.logo {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.nav-items a {
  padding: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #61A2BA;
  display: inline-block;
  transition: all 0.3s ease;
}
.nav-items a:hover {
  background-color: #406B7A;
}
.page-container {
  margin: 60px 0;
}
.page-header h1 {
  color: #1E333B;
  font-size: 24px;
}
.page-header p {
  color: #1E333B;
  opacity: 0.8;
  font-size: 18px;
  margin-top: 10px;
}
.about-stream {
  margin: 40px 0px;
  border-bottom: 3px solid #61A2BA;
  padding-bottom: 40px;
}
.about-stream h1 {
  color: #61A2BA;
  font-size: 24px;
  margin-bottom: 10px;
}
.about-stream p {
  color: #1E333B;
  font-size: 18px;
  opacity: 0.8;
}
.btn.blue {
  color: #fff !important;
  background-color: #61A2BA !important;
  border-color: #61A2BA !important;
  margin-top: 20px;
}
.btn.blue:hover {
  color: #61A2BA !important;
  background-color: #fff !important;
}
.creating-stream-form {
  display: grid;
  grid-template-columns: 70fr 30fr;
  width: 150%;
  grid-gap: 5%;
  transition: all 0.5s ease;
}
.creating-stream-form.show {
  width: 100% !important;
}
.show-create__spickers {
  position: fixed;
  right: 0;
  top: 20%;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.show-create__spickers.hidden {
  transform: rotate(180deg);
}
.stream-content {
  margin-bottom: 60px;
}
.group-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.message-container {
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}
.message-info {
  width: 70%;
  text-align: center;
}
.message-info h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #1E333B;
}
.message-info p {
  font-size: 18px;
  color: #1E333B;
  opacity: 0.8;
}
.checkbox {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.checkbox label {
  margin-left: 10px;
  margin-bottom: 0;
}
.checkbox-container {
  margin-top: 40px;
}
.checkbox-container h3 {
  margin-bottom: 20px;
}
.file {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.remove-file {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #1E333B;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #1E333B;
  transition: all 0.3s ease;
}
.remove-file:hover {
  background-color: #fff;
  color: #1E333B;
}
.file label {
  margin-bottom: 0;
  border: 2px solid #1E333B;
  color: #fff !important;
  background-color: #1E333B;
  padding: 11px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.file label:hover {
  background-color: #fff;
  color: #1E333B !important;
}
.file input {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}
.file-names__container p {
  margin: 5px 0px;
  display: flex;
}
.file-wrapper {
  margin: 20px 0;
}
.file-wrapper:last-child {
  margin: 20px 0 40px 0;
}
.spickers-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  width: 100%;
}
.spicker-group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.spicker-group label {
  font-size: 16px;
  color: #1E333B;
  margin-bottom: 4px;
}
.spicker-group input {
  padding: 8px;
  width: 100%;
  border: 2px solid #1E333B;
}
.spicker-item {
  width: 100%;
  border-radius: 10px;
  background-color: #61A2BA;
  margin: 80px 0;
  padding: 40px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: #fff;
  transform: translateY(-60px);
  transition: all 0.3s ease;
  animation: createSpicker 0.3s ease forwards;
}
@keyframes createSpicker {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
.spicker-queue {
  padding: 10px;
  border-radius: 10px;
  background-color: #61A2BA;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: -10%;
}
.btn-queue {
  cursor: pointer;
  padding: 10px;
  background-color: #1E333B;
  border: none;
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.btn-queue:disabled {
  opacity: 0.6 !important;
}
.btn-queue:hover {
  opacity: 1;
}
.btn-queue svg {
  width: 20px;
  height: 20px;
}
.btn-queue.top {
  transform: rotate(180deg);
}
.btn-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: inline-block;
}
.remove-spicker {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.spicker-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}
.spicker-item h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.spicker-item p {
  font-size: 16px;
  margin-bottom: 10px;
}
.spicker-item a {
  color: #fff;
  font-size: 16px;
  border-bottom: 2px solid #fff;
}
.stream-container {
  width: 100%;
  display: grid;
  grid-template-columns: 30fr 70fr;
  grid-template-areas: 'camera stream';
  grid-gap: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.camera-container {
  grid-area: camera;
}
.screen-container {
  grid-area: stream;
}
.stream-container.hidden {
  grid-template-columns: 1fr;
  margin-bottom: 0px !important;
}
.camera,
.chat,
.screen {
  width: 100%;
}
.chat.hidden {
  display: none;
}
.show-chat {
  display: grid;
  grid-template-columns: 70fr 30fr;
  grid-gap: 20px;
}
.camera iframe {
  width: 100%;
  height: 35vh;
}
.chat iframe {
  width: 100%;
  height: 40vh;
  margin-top: 40px;
}
.screen iframe {
  width: 100%;
  height: 75vh;
}
.camera-container.hidden .camera {
  display: none;
}
.camera-container.hidden .stream-spickers {
  margin-top: 0;
}
.stream-spickers {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: hidden;
  grid-gap: 20px;
  margin-top: 40px;
}
.stream-spickers.scroll {
  overflow-y: scroll;
  margin-top: 0;
  height: 75vh !important;
}
.stream-spicker-item {
  position: relative;
  width: 100%;
  border: 6px solid #61A2BA;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 10px;
}
.stream-spicker-item img {
  width: 100px;
  height: 100px;
  background-color: #61A2BA;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
.stream-spicker-item h3 {
  color: #75C4E0;
  font-size: 18px;
  margin: 10px 0;
}
.stream-spicker-item .title {
  color: #1E333B;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 500;
}
.stream-spicker-item .position {
  color: #1E333B;
  font-size: 14px;
  opacity: 0.8;
}
.stream-spicker-item a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stream-spicker-item a svg {
  width: 100%;
}
.footer {
  background-color: #75C4E0;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
}
.stream-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}
.stream-wrapper.hidden {
  display: none;
}
.change-language {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change-language .btn {
  margin: 0 10px;
}
.stream-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  border: 4px solid #61A2BA;
  box-shadow: 0px 2px 10px 4px rgba(34, 60, 80, 0.24);
  padding: 20px;
}
.stream-header h1 {
  color: #61A2BA;
  font-size: 20px;
}
.main-sponcores__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sponcores__image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0px 10px;
  background-color: #fff;
}
.footer-images {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  margin: 10px;
  object-fit: contain;
  background-color: #fff;
}
.create-advertising__form {
  background: #e8e8e8;
  padding: 0;
  width: 100%;
  height: 0px;
}
.create-advertising-page.active .create-advertising__form {
  height: auto;
  padding: 40px 20px;
}
.create-advertising-page.active .advertising-page__dropdown span {
  transform: rotate(90deg);
}
.create-advertising-page {
  overflow: hidden;
  margin-bottom: 40px;
  border-bottom: 2px solid #1E333B;
}
.advertising-page__dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: #1E333B;
  border-bottom: 2px solid #1E333B;
  background-color: #fff;
  z-index: 999;
}
.advertising-page__dropdown h3 {
  font-size: 18px;
}
.advertising-page__dropdown span {
  font-size: 50px;
  width: 30px;
  font-weight: 400;
  transform: rotate(270deg);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advertising-pedview {
  margin-top: 40px;
}
.advertising-pedview__item {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6px;
  width: 100%;
  background-color: #1E333B;
  padding: 4px;
}
.advertising-pedview__image {
  width: 100%;
  background-color: #1E333B;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advertising-pedview__image img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.advertising-pedview__content {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.advertising-pedview__content h3 {
  font-size: 18px;
  color: #1E333B;
  margin-bottom: 20px;
}
.advertising-pedview__content span {
  background-color: #fff;
  border: 2px solid #1E333B;
}
.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  margin: 40px 0px;
}
.product-item {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 60fr 40fr;
  border: 4px solid #61A2BA;
}
.product-item__info {
  background-color: #61A2BA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-item__title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.product-item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.product-item__image img {
  width: 100%;
  object-fit: cover;
}
.stream-btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.stream-btn__container a {
  margin: 0 10px;
}
.spicker-body {
  margin-top: 80px;
}
.users-title {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #61A2BA;
}
.spickers__continer,
.users__containe {
  display: grid;
  grid-template-columns: 33fr 33fr 33fr;
  grid-gap: 20px;
}
.spickers__continer {
  margin-top: 40px;
}
.spicker__item {
  box-shadow: -2px 2px 10px 6px rgba(34, 60, 80, 0.16);
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 4px solid #61A2BA;
  padding: 20px;
  border-radius: 6px;
  align-items: center;
}
.spicker__item-image {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  justify-content: center;
  border: 4px solid #61A2BA;
}
.spicker__item-image img {
  width: 100%;
  object-fit: contain;
}
.spicker-item__body {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.spicker-item__body h3 {
  font-size: 22px;
  color: #61A2BA;
  margin-bottom: 4px;
}
.spicker-item__body p {
  font-size: 18px;
  color: #1E333B;
  font-weight: 500;
  margin-bottom: 5px;
  opacity: 0.8;
}
.item-position {
  margin-bottom: 14px !important;
  font-size: 14px !important;
}
.spicker-item__body a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
.spicker-item__body a img {
  width: 100%;
}
.spicker-item__body p span {
  font-size: 22px;
  color: #1E333B;
  font-weight: 500;
}
.users-body {
  margin-top: 40px;
}
.users__containe {
  margin: 40px 0;
}
.user__item {
  width: 100%;
  padding: 18px;
  background-color: #61A2BA;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0px 4px 4px 1px rgba(34, 60, 80, 0.2);
}
.user__item h3 {
  margin-bottom: 10px;
  font-size: 22px;
}
.user__item p {
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.8;
}
.user__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
.user__item a img {
  width: 100%;
}
.search-user__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.search-user__container input {
  padding: 10px 20px;
  width: 40%;
  border: 3px solid #61A2BA;
  outline: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
}
.users-nav {
  width: 100%;
  background-color: #61A2BA;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  box-shadow: 2px 4px 6px 0px rgba(34, 60, 80, 0.4);
}
.users-nav button {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61A2BA;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.users-nav button svg {
  transform: rotate(90deg);
}
.users-nav button:hover {
  background-color: #406B7A;
}
.mobile-camera {
  display: none;
}
.burger {
  display: none;
}
@media (max-width: 1025px) {
  .stream-spickers.scroll {
    height: 86vh !important;
  }
  .camera iframe {
    height: 23vh;
  }
  .screen iframe {
    height: 45vh;
  }
  .search-user__container input {
    width: 60%;
  }
}
@media (max-width: 780px) {
  .stream-spickers.scroll {
    height: 58.5vh !important;
  }
  .camera iframe {
    height: 12vh;
  }
  .screen iframe {
    height: 25vh;
  }
  .chat iframe {
    height: 25vh;
  }
  .users__containe {
    grid-template-columns: repeat(2, 1fr);
  }
  .spickers__continer {
    grid-template-columns: repeat(2, 1fr);
  }
  .show-create__spickers {
    position: absolute;
    right: -5%;
  }
  .my-room .btn-group {
    display: flex;
  }
  .room-name,
  .room-date,
  .room-status {
    margin-right: 20px;
  }
  .steps-container {
    margin: 40px 0;
  }
}
@media (max-width: 480px) {
  .users__containe {
    grid-template-columns: repeat(1, 1fr);
  }
  .spickers__continer {
    grid-template-columns: repeat(1, 1fr);
  }
  .search-user__container input {
    width: 100%;
  }
  .stream-header {
    flex-direction: column;
  }
  .main-sponcores__image {
    flex-wrap: wrap;
    width: 100%;
  }
  .main-sponcores__image img {
    width: 70px;
    height: 70px;
  }
  .stream-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 'stream stream' 'camera camera';
  }
  .mobile-camera {
    display: flex;
    width: 100%;
  }
  .mobile-camera iframe,
  .screen iframe {
    width: 100%;
    height: 30vh;
  }
  .wrapper.mob {
    margin: 0;
    width: 100%;
  }
  .camera {
    display: none;
  }
  .stream-wrapper {
    margin: 0;
  }
  .chat iframe {
    margin-top: 0;
    height: 60vh;
  }
  .stream-spickers.scroll {
    height: 82.5vh;
  }
  .footer-images {
    justify-content: center;
  }
  .burger {
    display: block;
    padding: 20px 0px;
    background-color: transparent;
    border: none;
    z-index: 999;
  }
  .logo {
    z-index: 999;
  }
  .burger div {
    width: 34px;
    height: 3px;
    background-color: #fff;
    margin: 10px 0;
    transition: all 0.3s ease;
  }
  nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
  }
  .navbar {
    transition: all 0.5s ease;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    top: 0;
    background-color: #61A2BA;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .nav-items a {
    padding: 0;
    font-size: 24px;
    margin: 30px 0px;
  }
  .creating-stream-form {
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  .stream-content {
    grid-row: 2;
  }
  .spickers-content {
    grid-column: 1;
  }
  .show-create__spickers {
    display: none;
  }
  .checkbox-container {
    margin-top: 20px;
  }
  .about-stream {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .group-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .toggle .line1 {
    transform: translate(-6px, 6px) rotate(45deg);
  }
  .toggle .line2 {
    transform: translate(-6px, -6px) rotate(-45deg);
  }
  .navbar.active {
    transform: translateX(0%);
  }
  .page-container {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .my-room {
    flex-direction: column;
  }
  .room-info {
    flex-direction: column;
  }
  .room-name,
  .room-date,
  .room-status {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .my-room .btn-group {
    margin-left: 0;
  }
  .step-description p {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .show-chat {
    grid-template-columns: repeat(1, 1fr);
  }
}
